mirrors.dgut.edu.cn/.svelte-kit/**
mirrors.dgut.edu.cn/public/**
mirrors.dgut.edu.cn/build/**
mirrors.dgut.edu.cn/help/**

linux.dgut.edu.cn/.svelte-kit/**
linux.dgut.edu.cn/public/**
linux.dgut.edu.cn/build/**
linux.dgut.edu.cn/blog/**

node_modules/**
package.json
*.md
