* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	border-top: 5px solid rgb(82, 165, 14);
	background: #121212;
	color: #cccccc;
	--border-color: #6d6d6d;
}

@media (prefers-color-scheme: light) {
	body {
		background: #ffffff;
		color: #333333;
		--border-color: #eaecef;
	}
}

a {
	color: rgb(82, 165, 14);
	text-decoration: underline dotted rgb(82, 165, 14) 2px;
}

a:hover {
	color: rgb(99, 201, 16);
	text-decoration-color: rgb(106, 209, 21);
}

@media (max-width: 767px) {
	.pc {
		display: none;
	}
}
@media (min-width: 768px) {
	.mobile {
		display: none;
	}
}
